@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#29251c, #2c2306);
  color: #d9e2f1;
  min-height: 100vh;
  height: 100%;
  width: 100%;

}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  color: hsl(46, 100%, 51%);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
#meals {
  position: relative;
  width: 90%;
  max-width: 70rem;
  list-style: none;
  margin: 3rem auto;
  padding: 0.5rem;

  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  
}

.meal-item {
  background-color: #1d1a16;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  transition: 2s;
}
.meal-item article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: meals 5s ease;
}
@keyframes meals{
  from {
    opacity: 0;
    transform: translate(-100px,-10px);
  }
  to {
    opacity: 1;
    transform: translate(0px,0px);
  }
}
.meal-item:hover{
  transform: scale(1.08,1.08);
  transition: 2s;
}
.meal-item img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.meal-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0;
}
.meal-item button{
  width: 100px;
  margin-bottom: 30px;
  padding: 6px 13px 6px 13px;
  border-radius: 5px;
  border:none;
  background-color:#ffab04;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #1d1a16;
  
}
.meal-item-description {
  margin: 1rem;
}

.meal-item-price {
  display: inline-block;
  background-color: #312c1d;
  color: #ffc404;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 4px;
}


.meal-item-actions {
  margin-bottom: 1.5rem;
}

.cart h2 {
  margin: 1rem 0;
}

.cart ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.modal-actions .text-button {
  color: #1d1a16;
}

.modal-actions .text-button:hover,
.modal-actions .text-button:active {
  color: #312c1d;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 2rem 0;
  font-size: 1.15rem;
  font-weight: bold;
  color: #46443c;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.cart-item p {
  margin: 0;
  font-size: large;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cart-item-actions {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.cart-item-actions button {
  cursor: pointer;
  font-size: 1rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: none;
  background-color: #312c1d;
  color: #ffc404;
  display: flex;
  justify-content: center;
  align-items: center;

}
.price{
  text-align: end;
  padding-top: 20px;
}

.cart-item-actions button:hover,
.cart-item-actions button:active {
  background-color: #1d1a16;
  color: #ffab04;
}

.control {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  width: 100%;
  max-width: 20rem;
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.control-row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: #ffc404;
  border: 1px solid #ffc404;
  color: #1f1a09;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.button:hover,
.button:active {
  background-color: #ffab04;
  border-color: #ffab04;
  color: #1f1a09;
}

.text-button {
  font-size:medium;
  cursor: pointer;
  background-color: #e7b102;
  color: rgb(68, 68, 68);
  border: none;
  border-radius: 6px;
  padding: 10px 20px 10px 20px ;
}

.text-button:hover,
.text-button:active {
  color: #000000;
}

.modal {
  background-color: #e4ddd4;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  width: 60%;
  max-width: 40rem;
  animation: fade-slide-up 0.3s ease-out forwards;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.divform{
  width: 20rem;
  display: flex;
  flex-direction: column;
}
.divform label{
  padding-bottom: 5px;
  font-weight: bold;
}
.divform input{
  border: none;
  width: 20rem;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  height: 1.8rem;
  border-radius: 4px;
}
.divform input:hover{
  color:black;
  border-color:rgb(72, 112, 255);
}
.buttons{
  display: flex;
  justify-content: end;
}
.error li{
  color: #cb0000;
  padding-bottom: 9px;
}
.buttons{
  display: flex;
  justify-content: end;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  
}
.close{
  border: none;
  background-color: #d9e2f100;
  color: rgba(101, 101, 101, 0.75);
  font-size: large;
  text-align: end;
}
.success{
  margin-top: 30px;
  margin-bottom: 15px;
}
.success h1 {
  color: black;
}

.Orders h1{
  padding-top: 16px;
  padding-left: 14px;
  color: black;
  font-size:xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Orders h3{
  color: #4c4c4ce5;
  font-weight: 300;
}
.h1Orders{
  display: flex;
}
.h1Orders img{
  width: 50px;
  padding-top: 10px;
  animation: car 5s ease;
}
@keyframes car {
  0% {
      transform: translateX(-280px);
  }
  100% {
      transform: translateX(0px);
  }

}
.empty-Orders{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orderbord{
  width: 95%;
  height: 150px;
  background-color: #b1b1b1a5;
  border-radius: 10px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}
.orderbord img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 5px;
  filter: brightness(45%);
}
.orderlist{
  display:grid;
  height: 100%;
  grid-template-columns: 300px 80px 100px 70px;
  position: relative;
  place-items: center;
}
.orderlist li{
  list-style: none;
  color: white;
  font-size: larger;
}
.orderlist p{
  font-size: large;
  font-weight: bold;
  padding-bottom: 5px;
  padding-left:10px;
  color: rgb(255, 255, 255);
}
.orderlist h3{
  color: white;
  font-weight: bold;
}
.orderbord button{
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: 1s;
}
.orderbord button:hover{
  transform: scale(1.2);
}
.EmptySearch{
  text-align: center;
  background-color: #ff6161b5;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.EmptySearch h2{
  font-style: italic;
  font-size: xx-large;
}
.EmptySearch img{
  width: 45px;
  height: 45px;
}
/*.burger-menu button{
  height: 43px;
}
.burger-menu button img{
  height: 30px;
}
.Hamburger-menu{
  background-color: #ffffff0a;
  width: 10rem;
  height: 10rem;
  position: absolute;
  margin-left: 10px;
  margin-top: 4px;
  border-radius: 10px;
}
*/
.welcomgame{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.welcomgame h2{
  font-size: xx-large;
}
.welcomgame button{
  padding: 10px 19px 10px 19px;
  border-radius: 5px;
  border: none;
  background-color: #e7b102;
  color: #212121c0;
  font-size:large;
}
.all-game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-game{
  display: flex;
  flex-direction: row;

}
.player-box{
  width: 13rem;
  height: 10rem;
  border: #000000 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-box img{
  width: 79px;
  height: 79px;
}
.bot-box{
  width: 13rem;
  height: 10rem;
  border: #000000 solid 1px;
}
.time-box{
  width: 5rem;
  border: #000000 solid 1px;
}
.circle ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 30px;
}
.circle ul li{
  list-style: none;
  border-radius: 100px;
  width: 25px;
  border-radius: 100px;
  height: 25px;
  margin: 0px 10px 0px 10px;

}
.Win{
  background-color: rgb(41, 255, 41);
  border-radius: 100px;
  
}
.Draw{
  background-color: rgb(255, 255, 168);
  border-radius: 100px;
}
.Lost{
  background-color: rgb(255, 109, 109);
  border-radius: 100px;
}
.buttons-game button{
  border: none;
  background-color: rgba(126, 252, 0, 0);
  padding: 0px 10px 0px 10px;
}
.buttons-game button:hover{
  border-radius: 6px;
  background-color: rgba(198, 198, 198, 0.553);
}
.buttons-game button img{
  width: 70px;
  height: 70px;
}
.progress{
  display: flex;
  justify-content: center;
}
.LostOrWin{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.LostOrWin span h3{
  text-align: center;
  color: #757859;
}
